<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<table align="center" border="1" cellspacing="0" cellpadding="0" width="600" style="border-collapse: collapse;">
		<tbody>
			<tr>
				<td>
					<p>You have recieved a new contact form message, the message is:</p>
				</td>
			</tr>
			<tr>
				<td>
					<p><%= @message %></p>
				</td>
			</tr>
		</tbody>
	</table>
</table>